In [14]:
import csv
import numpy as np
import pandas as pd

In [4]:
def read_table(name):
    with open(name, mode='rt', encoding='utf-8') as in_file:
        file = pd.read_csv(in_file, delimiter=",")
    return file

In [5]:
product_views = read_table("product_views_cz")

/mnt/lustre/helios-home/chmelji6/helios_jupyter_virtual_env/lib64/python3.6/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [6]:
material_attributes = read_table("material_attributes_cz")

In [ ]:
list_category = read_table("list_category")

In [ ]:
item_category = read_table("cz_item_category")

In [ ]:
item = read_table("item_cz")

## Filip upgrade

In [7]:
product_views.head()

         date  user_id_anon  visit_id_anon product_id  product_detail_views
0  2018-09-13      24149070              5    1084575                     1
1  2018-10-11      24149070              6    1054500                     3
2  2018-10-11      24149070              7  981583001                     2
3  2018-10-12      24149070              8    1054500                     1
4  2018-10-17      24149070              9     641958                     1

Nejprve provedu vycisteni datasetu product_views_cz. Budu uvazovat pouze produkty z roku 2020 (filtrace pres sloupec 'date') a odstranim duplikatni zaznamy:

In [8]:
print("Date is year-month-day format.")
print("Type of the date entries: ", type(product_views["date"].values[0]))
print("This format is comparable using boolean algebra...thank god for that.")

Date is year-month-day format.
Type of the date entries:  <class 'str'>
This format is comparable using boolean algebra...thank god for that.

In [9]:
print("Take everything from 2020: ")
product_views_filtered = product_views[product_views["date"]>="2020-01-01"] #>'2019-10-00'
print(product_views_filtered.shape)

Take everything from 2020:
(111901666, 5)

In [10]:
print("Remove duplicates: ")
product_views_filtered = product_views_filtered.drop_duplicates()
print(product_views_filtered.shape)

Remove duplicates:
(111901666, 5)

In [11]:
print("Remains ", 100*(product_views_filtered.shape[0]/product_views.shape[0]), "% of the initial dataset.")

Remains  26.618686409791014 % of the initial dataset.

In [12]:
import time
print("Improving Filip's code (hopefully right): ")
start = time.time()

Table_3 = product_views_filtered[product_views_filtered["product_id"].isin(set(material_attributes["MATERIAL_ID"]))]

print("Time elapse: ", time.time() - start, " s.")

Improving Filip's code (hopefully right):
Time elapse:  11.65884518623352  s.

In [13]:
print("Remains ", 100*(Table_3.shape[0]/product_views_filtered.shape[0]), "%.")
print("Table_3 shape: ", Table_3.shape)

Remains  60.9924449203464 %.
Table_3 shape:  (68251562, 5)