In [1]:
from kbcstorage.client import Client
import csv
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn import neighbors
from scipy import sparse

In [8]:
token = "858-85291-eKF1fmrOr9AiDGa1HTUf5gEBpbE7nolbeKIAloVE"

client = Client('https://connection.eu-central-1.keboola.com', token) 

client.buckets.list()

client.tables.list()[1]

# export the files with the data
ind = 1
client.tables.export_to_file(table_id=client.tables.list()[ind]["id"], path_name='.')

In [4]:
def read_table(name):
    with open(name, mode='rt', encoding='utf-8') as in_file:
        file = pd.read_csv(in_file, delimiter=",")
    return file

product_views = read_table("product_views_cz")

material_attributes = read_table("material_attributes_cz")

In [6]:
list_category = read_table("list_category")

In [7]:
item_category = read_table("cz_item_category")

In [8]:
item = read_table("item_cz")

In [20]:
# product_views_cz
print(product_views.shape)
product_views.head()

(420387634, 5)

         date  user_id_anon  visit_id_anon product_id  product_detail_views
0  2018-09-13      24149070              5    1084575                     1
1  2018-10-11      24149070              6    1054500                     3
2  2018-10-11      24149070              7  981583001                     2
3  2018-10-12      24149070              8    1054500                     1
4  2018-10-17      24149070              9     641958                     1

In [22]:
len(set(product_views.product_id.values))

3138978

In [21]:
# material_attributes_cz
print(material_attributes.shape)
material_attributes.head()

(277376, 2)

   MATERIAL_ID                                  NAME_GROUPING
0      1061907           DAFI pH+ Classic náhradní filtr 1 ks
1       741319         LEGO Classic 10698 Velký kreativní box
2      1039111                                GUZZANTI GZ 901
3      1106737  Panasonic AAA 3ks 750 mAh ENELOOP (4MCCE/3BE)
4      1243225       Yenkee YMC 1020, šedý/černý (YMC 1020GY)

In [23]:
print("Number of material_ids:")
len(set(material_attributes["MATERIAL_ID"].values))

Number of material_ids:

277334

In [24]:
print("Number of name_groupings:")
len(set(material_attributes["NAME_GROUPING"].values))

Number of name_groupings:

218142

In [25]:
# list_category
print(list_category.shape)
list_category.head()

(71717, 11)

,id,sid,shop,name,name_full,url,priority,path,visible,ods_created,ods_expired
0,26619288,100053222,MAHR,7+,LEGO® od 7 godina,https://www.mall.hr/lego-od-7-godina,0,MALL.HR > Igračke > Građevni setovi > LEGO® > 7+,f,2020-10-18 07:49:27.995213+00,NaN
1,1321,15565418,MASI,Vozila na pedala,Vozila na pedala,https://www.mimovrste.com/vozila-na-pedala,0,Mimovrste > Igrače > Otroška vozila > Vozila n...,t,2020-10-18 07:49:27.995213+00,NaN
2,10260385,100037668,MAHR,Pelene,Pelene,https://www.mall.hr/pelene,1,MALL.HR > Dječja oprema > Pelene i previjanje ...,t,2020-10-17 17:57:42.820907+00,NaN
3,34877,15572557,MASI,Napihljive blazine,Napihljive blazine,https://www.mimovrste.com/napihljive-blazine,0,Mimovrste > Igrače > Zunanja igrala > Napihlji...,t,2020-10-17 17:57:42.820907+00,NaN
4,920589,15576138,MASI,Friends,LEGO® Friends,https://www.mimovrste.com/lego-friends-2,3,Mimovrste > Igrače > Kocke > LEGO® > Friends,t,2019-05-28 10:18:44.641703+00,2020-10-16 11:32:49.587343+00

In [26]:
list_category[list_category["shop"]=="MACZ"].shape

(17359, 11)

In [27]:
print("Number of ids:")
len(set(list_category["id"].values))

Number of ids:

30174

In [28]:
# cz_item_category
print(item_category.shape)
item_category.head()

(456784971, 4)

     item_id  category_id                  ods_created is_main
0    8061405      1051598  2020-08-08 03:20:02.7665+00       f
1    7807990      5217670  2020-08-08 03:20:02.7665+00       f
2    7746417          237  2020-08-08 03:20:02.7665+00       f
3  656838977        49931  2020-08-08 03:20:02.7665+00       f
4  158574663      1480415  2020-08-08 03:20:02.7665+00       f

In [29]:
print("Number of categories:")
len(set(item_category["category_id"].values))

Number of categories:

7704

In [30]:
print("Number of item_ids:")
len(set(item_category["item_id"].values))

Number of item_ids:

8827878

In [31]:
# item_cz
print(item.shape)
item.head()

(10077099, 3)

          id           sid  grouping_sid
0    7585376       1241943       1241943
1  202212599  100005762097  100005762097
2  109314538  100004834295  100004834152
3   87389423  100004637388  100004637388
4   53754840  100004375993  100004375989

In [12]:
set(item_category["category_id"].values).issubset(set(list_category["id"].values))
# category_id datasetu cz_item_category je podmnozina datasetu list_category

True

## Filip upgrade

In [7]:
product_views.head()

         date  user_id_anon  visit_id_anon product_id  product_detail_views
0  2018-09-13      24149070              5    1084575                     1
1  2018-10-11      24149070              6    1054500                     3
2  2018-10-11      24149070              7  981583001                     2
3  2018-10-12      24149070              8    1054500                     1
4  2018-10-17      24149070              9     641958                     1

Nejprve provedu vycisteni datasetu product_views_cz. Budu uvazovat pouze produkty z roku 2020 (filtrace pres sloupec 'date') a odstranim duplikatni zaznamy:

In [8]:
print("Initial shape: ", product_views.shape)

Initial shape:  (420387634, 5)

In [9]:
print("Date is year-month-day format.")
print("Type of the date entries: ", type(product_views["date"].values[0]))
print("This format is comparable using boolean algebra...thank god for that.")

Date is year-month-day format.
Type of the date entries:  <class 'str'>
This format is comparable using boolean algebra...thank god for that.

In [10]:
print("Take everything from 2020: ")
product_views_filtered = product_views[product_views["date"]>="2020-01-01"] #>'2019-10-00'
print(product_views_filtered.shape)

Take everything from 2020:
(111901666, 5)

In [11]:
print("Remove duplicates: ")
product_views_filtered = product_views_filtered.drop_duplicates()
print(product_views_filtered.shape)

Remove duplicates:
(111901666, 5)

In [12]:
print("Remains ", 100*(product_views_filtered.shape[0]/product_views.shape[0]), "% of the initial dataset.")

Remains  26.618686409791014 % of the initial dataset.

In [13]:
import time
print("Improving Filip's code (hopefully right): ")
start = time.time()

Table_3 = product_views_filtered[product_views_filtered["product_id"].isin(set(material_attributes["MATERIAL_ID"]))]

print("Time elapse: ", time.time() - start, " s.")

Improving Filip's code (hopefully right):
Time elapse:  11.304257154464722  s.

In [14]:
print("Remains ", 100*(Table_3.shape[0]/product_views_filtered.shape[0]), "%.")
print("Table_3 shape: ", Table_3.shape)

Remains  60.9924449203464 %.
Table_3 shape:  (68251562, 5)

## using

In [15]:
product_views_filtered = Table_3
print(product_views_filtered.shape)
data = product_views_filtered[product_views_filtered.columns[[1,3]]].reset_index(drop=True)
data.head()

(68251562, 5)

   user_id_anon  product_id
0      26765943     1018700
1      14723304  1412935001
2      14723304   956709003
3      14723304   937876001
4      14723304   842005003

In [16]:
print("This removes more rows because after filtering out date, visit_id_anon and product_detail_views, there are more duplicates.")
data = data.drop_duplicates()
print(data.shape)

This removes more rows because after filtering out date, visit_id_anon and product_detail_views, there are more duplicates.
(56556781, 2)

In [17]:
products_sorted = np.sort((list(data["product_id"].drop_duplicates().values)), axis=None) # from smallest id to the highest in the dataset

users_sorted = np.sort((list(data["user_id_anon"].drop_duplicates().values)), axis=None)

In [18]:
sdata = data.astype(pd.SparseDtype("int64", False))

sdata = sdata.set_index(['user_id_anon', sdata.groupby('user_id_anon').cumcount().add(1).astype(int)])

In [19]:
sdata = sdata.sort_index()
sdata

                product_id
user_id_anon
4            1   842005003
             2      551905
             3     1053951
11           1     1345542
17           1     1179874
...                    ...
62570538     2     1105851
             3     1370529
62570539     1     1341437
62570550     1      942833
62570552     1     1407612

[56556781 rows x 1 columns]

In [20]:
sdata_index = sdata.index

In [21]:
a,b = zip(*sdata_index)

In [22]:
lst = np.array_split(a,32)

# init
part = []
part.append( (lst[0][0], lst[0][-1]) )
temp = lst[0][-1]
for i in lst[1:]:
    temp1 = i[0]
    if temp1!=temp:
        part.append( (temp1, i[-1]) )
    else:
        k=0
        while temp==temp1:
            k=k+1
            temp1=i[k]
        part.append( (temp1, i[-1]) )
    temp = i[-1]

In [ ]:
parts = []
print("Number of chunks: " + str(len(part)) + ".")
thing = pd.Series(dict(zip([(-1, i) for i in range(1, len(products_sorted)+1)], products_sorted)))
for chunk in part:
    sdata_snippet = sdata.loc[chunk[0]:chunk[1]]
    print("Loading chunk... Done.")
    #sdata_snippet = sdata_snippet.append(pd.DataFrame(thing, columns=["product_id"]))
    print("Preprocessing chunk... Done.")
    sdata_snippet = sdata_snippet.astype(pd.SparseDtype("uint32", False))
    print("Sparsing chunk... Done.")
    unstacked = sdata_snippet.unstack(fill_value=False).astype(bool)
    print("Unstacking chunk... Done.")
    parts.append(sparse.csr_matrix(unstacked.to_numpy(), dtype=bool))
    print("Appended chunk... Done.")
    print("Chunk ended...")

Number of chunks: 256.
Loading chunk... Done.
Preprocessing chunk... Done.
Sparsing chunk... Done.

In [24]:
R = sparse.dok_matrix((int(len(users_sorted)), len(products_sorted)), dtype=bool)

In [27]:
len(products_sorted)

243191

In [28]:
len(users_sorted)

15167773

In [155]:
sparse.csc_matrix(products_sorted)

<1x243191 sparse matrix of type '<class 'numpy.longlong'>'
	with 243191 stored elements in Compressed Sparse Column format>

In [157]:
%%prun -l 4

def compute_M(data):
    cols = np.arange(data.size)
    return csr_matrix((cols, (data.ravel(), cols)),
                      shape=(data.max() + 1, data.size))

def get_indices_sparse(data):
    M = compute_M(data)
    return [np.unravel_index(row.data, data.shape) for row in M]


start = time.time()
R = sparse.dok_matrix((int(len(users_sorted)), len(products_sorted)), dtype=bool)

k=0
stuff = sdata.groupby("user_id_anon")
 
for name, dat in stuff:
    R[k, np.where(products_sorted==dat.values)[1]] = True
    k=k+1
    if k==1000:
        print(time.time() - start)
        break
    
print(time.time() - start)

KeyboardInterrupt:

In [103]:
!pip install Cython

Collecting Cython
  Downloading Cython-0.29.21-cp36-cp36m-manylinux1_x86_64.whl (2.0 MB)
     |################################| 2.0 MB 5.4 MB/s eta 0:00:01
Installing collected packages: Cython
Successfully installed Cython-0.29.21

In [104]:
%load_ext Cython

In [116]:
%%cython

import time
import numpy as np
import pandas as pd
from scipy import sparse

def read_table(name):
    with open(name, mode='rt', encoding='utf-8') as in_file:
        file = pd.read_csv(in_file, delimiter=",")
    return file

product_views = read_table("product_views_cz")
material_attributes = read_table("material_attributes_cz")

product_views_filtered = product_views[product_views["date"]>="2020-01-01"]

product_views_filtered = product_views_filtered.drop_duplicates()

Table_3 = product_views_filtered[product_views_filtered["product_id"].isin(set(material_attributes["MATERIAL_ID"]))]

product_views_filtered = Table_3
print(product_views_filtered.shape)
data = product_views_filtered[product_views_filtered.columns[[1,3]]].reset_index(drop=True)

data = data.drop_duplicates()

products_sorted = np.sort((list(data["product_id"].drop_duplicates().values)), axis=None) # from smallest id to the highest in the dataset
users_sorted = np.sort((list(data["user_id_anon"].drop_duplicates().values)), axis=None)

sdata = data.astype(pd.SparseDtype("int64", False))
sdata = sdata.set_index(['user_id_anon', sdata.groupby('user_id_anon').cumcount().add(1).astype(int)])

print("Stuff done.")

start = time.time()
R = sparse.dok_matrix((int(len(users_sorted)), len(products_sorted)), dtype=bool)
cdef int k 
k=0

stuff = sdata.groupby("user_id_anon")
 
for name, dat in stuff:
    R[k, np.where(products_sorted==dat.values)[1]] = True
    k=k+1
    if k==10000:
        print(time.time() - start)
    
print(time.time() - start)

Error compiling Cython file:
------------------------------------------------------------
...
%%prun -l 4
^
------------------------------------------------------------

/mnt/lustre/helios-home/chmelji6/.cache/ipython/cython/_cython_magic_256c7b1752a9b63d5a5d9baf9134e6cf.pyx:1:0: Expected an identifier or literal

In [44]:
unstacked

                product_id                                                     \
                         1             2           3          4             5
user_id_anon
26765943           1018700         False       False      False         False
14723304        1412935001     956709003   937876001  842005003     694131011
25419513           1208128         False       False      False         False
58117595      100002001190         False       False      False         False
21328461           1415591       1417705     1098431    1263292       1417520
...                    ...           ...         ...        ...           ...
35502865            511885         False       False      False         False
35406607           1095259       1415912  1340701002  884166001  100005728511
36792807           1421961  100013238764   546671001     646806        669294
12422001           1205834         False       False      False         False
59272244            885524         False       False      False         False

                                                                      ...  \
                         6          7          8          9       10  ...
user_id_anon                                                          ...
26765943             False      False      False      False    False  ...
14723304         694131017  694131003  694131014  694131008  1388410  ...
25419513             False      False      False      False    False  ...
58117595             False      False      False      False    False  ...
21328461           1086652      False      False      False    False  ...
...                    ...        ...        ...        ...      ...  ...
35502865             False      False      False      False    False  ...
35406607      100011611580     566394    1310193    1361461  1361470  ...
36792807           1419181      False      False      False    False  ...
12422001             False      False      False      False    False  ...
59272244             False      False      False      False    False  ...

                                                                             \
               1994   1995   1996   1997   1998   1999   2000   2001   2002
user_id_anon
26765943      False  False  False  False  False  False  False  False  False
14723304      False  False  False  False  False  False  False  False  False
25419513      False  False  False  False  False  False  False  False  False
58117595      False  False  False  False  False  False  False  False  False
21328461      False  False  False  False  False  False  False  False  False
...             ...    ...    ...    ...    ...    ...    ...    ...    ...
35502865      False  False  False  False  False  False  False  False  False
35406607      False  False  False  False  False  False  False  False  False
36792807      False  False  False  False  False  False  False  False  False
12422001      False  False  False  False  False  False  False  False  False
59272244      False  False  False  False  False  False  False  False  False


               2003
user_id_anon
26765943      False
14723304      False
25419513      False
58117595      False
21328461      False
...             ...
35502865      False
35406607      False
36792807      False
12422001      False
59272244      False

[2683677 rows x 2003 columns]

In [255]:
R = sparse.dok_matrix((int(len(users_sorted)), len(products_sorted)), dtype=bool)

In [74]:
#series_products_sorted = pd.Series(products_sorted)
# too sloooooow :(
#lst = [series_products_sorted.isin(sdata.loc[i]).to_numpy(dtype=bool, na_value=False) for i in users_sorted]

In [241]:
#start = time.time()
#R = pd.DataFrame.sparse.from_spmatrix(sparse.csr_matrix((int(len(users_sorted)), len(products_sorted)), dtype=bool), index=users_sorted, columns=products_sorted)
#print(time.time()-start, "s.")

56.77615451812744 s.

In [245]:
#print("Tranform the table into user=row and item=column format: ")
#data = data.set_index([data.columns[0], data.groupby(by=data.columns[0]).cumcount().add(1).astype(str)]).unstack()
#data.columns = data.columns.map(''.join)
#data = data.reset_index()

In [34]:
n_neighbors = 25 # test 25 neighbors first...then gridsearch to optimize

In [35]:
clf = neighbors.KNeighborsClassifier(n_neighbors, weights="uniform")

In [40]:
clf.fit(data.user_id_anon.values.reshape(1,-1), data.product_id.values.reshape(1,-1).astype('int'), n_jobs=-1, )

KeyboardInterrupt: